* {
    padding: 0;
    margin: 0;
}
body {
box-sizing: border-box;
background-color: hsl(212, 45%, 89%);
font-family: 'Outfit', sans-serif;

}

.image-design {
    display: block;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

.box {

margin: 120px auto;


}

main{
background-color: hsl(0, 0%, 100%) ;

width: 400px;
display: flex;
align-items: center;
border-radius: 20px;
margin: 0 auto; 
height: 550px;
}

.card-align {
text-align: center;
}

 h1 {
    padding-top: 20px;
 }

p {

padding: 20px 10px 10px 10px;
font-size: 15px;

}




